* {
  font-family: "Poppins";
  font-style: normal;
}

button {
  padding: 15px 69px 12px;
  background: #ffffff;
  border-radius: 100px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #001958;
  border: none;
  width: 286px;
}

.container {
  width: 100%;
}

.container .hero-block {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(86.94% 263.61% at 96.08% 15.9%, rgba(0, 25, 88, 0) 0%, #000000 100%), url("../img/Rectangle.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media only screen and (max-width: 360px) {
  .container .hero-block {
    background-image: radial-gradient(86.94% 263.61% at 96.08% 15.9%, rgba(0, 25, 88, 0) 0%, #000000 130%), url("../img/Rectangle.png");
  }
}

@media only screen and (min-width: 361px) {
  .container .hero-block .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 38px 52px 0 52px;
  }
}

@media only screen and (max-width: 360px) {
  .container .hero-block .header {
    display: none;
  }
}

.container .hero-block .hero-block-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 400px;
}

@media only screen and (min-width: 361px) {
  .container .hero-block .hero-block-information {
    margin: 122px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media only screen and (max-width: 360px) {
  .container .hero-block .hero-block-information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 60px 20px 20px 20px;
  }
}

@media only screen and (min-width: 361px) {
  .container .hero-block .hero-block-information img {
    margin-right: 39px;
  }
}

@media only screen and (max-width: 360px) {
  .container .hero-block .hero-block-information img {
    width: 48px;
  }
}

.container .hero-block .hero-block-information .hero-block-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

@media only screen and (max-width: 360px) {
  .container .hero-block .hero-block-information .hero-block-details {
    padding-top: 31px;
  }
}

.container .hero-block .hero-block-information .hero-block-details h1 {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
  color: #ffffff;
  margin-bottom: 30px;
  margin-top: -6px;
}

.container .hero-block .hero-block-information .hero-block-details span {
  font-family: Poppins;
  color: #ffffff;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.container .hero-block .hero-block-information button {
  margin-top: 50px;
  margin-bottom: 12px;
}

@media only screen and (max-width: 360px) {
  .container .hero-block .hero-block-information button {
    padding: 14px 51px 12px;
    width: 250px;
  }
}

.container .conference-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 39px;
}

@media only screen and (max-width: 360px) {
  .container .conference-details {
    padding: 20px;
    padding-bottom: 0;
  }
}

.container .conference-details h2 {
  font-family: Poppins;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: #001958;
}

@media only screen and (max-width: 360px) {
  .container .conference-details h2 {
    font-size: 30px;
    line-height: 45px;
  }
}

.container .conference-details .conference-data {
  width: 100%;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container .conference-details .conference-data .item-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 360px) {
  .container .conference-details .conference-data .item-details {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 20px;
  }
}

.container .conference-details .conference-data .item-details .item-title {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #4f4f4f;
}

.container .conference-details .conference-data .item-details .item-data {
  font-family: Poppins;
  font-weight: bold;
  font-size: 50px;
  line-height: 75px;
  color: #828282;
}
/*# sourceMappingURL=styles.css.map */